h1 {
  text-align: center;
  background-color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  width: 100%;
}
#img-form {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgb(185, 181, 181);
  margin: auto;
}
#white-word {
  color: white;
}
button:hover {
  cursor: pointer;
}